'context-menu':
  '.overlayer':
      'Play Video': 'video-player:play'
      'Stop Video': 'video-player:stop'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'video-player'
      'submenu': [
        { 'label': 'Play', 'command': 'video-player:play' }
        { 'label': 'Stop', 'command': 'video-player:stop' }
        { 'label': 'Toggle back and forth', 'command': 'video-player:toggle-back-forth' }
        { 'label': 'Toggle controler', 'command': 'video-player:toggle-control' },
        { 'label': 'Reload source', 'command': 'video-player:reload-source' }
      ]
    ]
  }
]
