'context-menu':
  '.overlayer':
      'Play Video': 'video-player:play'
      'Stop Video': 'video-player:stop'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'video-player'
      'submenu': [
        { 'label': 'Play', 'command': 'video-player:play' }
        { 'label': 'Stop', 'command': 'video-player:stop' }
        { 'label': 'Display to front', 'command': 'video-player:display-front' }
        { 'label': 'Display to back', 'command': 'video-player:display-back' }
      ]
    ]
  }
]
