@import "ui-variables";

.item-views {
  > * {
    z-index: 2;
    opacity: 0.8;
  }
  > .video-player {
    z-index: 0;
    opacity: 1;

    &.front {
      z-index: 3;
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
}
